@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

 html,
  body {
    overflow-x: hidden;
  }

  body {
    @apply antialiased;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500/30 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-500/50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
